<!DOCTYPE html>
<html>
    <head>
        <title> Create | Archive of of Our Own </title>
    </head>

    <body>
        <h1>
            Create your own story!
        </h1>
        <p>
            <form method="POST" action="/make" id="make_story">
                <input type="text" name="title" placeholder="title">
                <input type="submit" name="sub1" value="create">
              </form>
            <textarea rows="10" cols="100" name="content" form="make_story" placeholder="Enter text here..."></textarea>
        </p>
    </body>
    <form action="/">
        <input type="submit" name="sub1" value="home" />
    </form>
</html>