<!DOCTYPE html>
<html>
    <head>
        <title> Create | Archive of of Our Own </title>
    </head>

    <body>
        <h1>
            Create your own story!
        </h1>
        <p>
            <form method="POST" action="/make">
                <input type="text" name="title" placeholder="title">
                <br>
                <input type="text" name="content" placeholder="content">
                <br>
                <input type="submit" name="sub1" value="create">
                <br>
              </form>
        </p>
    </body>
    <form action="/">
        <input type="submit" name="sub1" value="home" />
    </form>
</html>