<!DOCTYPE html>
<html>
    <head>
        <title> {{name}} | Archive of of Our Own </title>
    </head>

    <body>
        <h1>
            {{name}}
        </h1>
        <h2>
            Latest contribution by {{user_id}}
        </h2>
        <p>
            {{content}}
        </p>
        <p>
            <b>Add on!</b>
            <br>
            <textarea rows="10" cols="100" name="content" form="edit_story" placeholder="Enter text here..."></textarea>
            <form method="POST" action="{{story_path}}" id="edit_story">
                <input type="submit" name="sub1" value="add">
                <br>
              </form>
        </p>
        <form action="/">
            <input type="submit" name="sub1" value="home" />
        </form>
    </body>
</html>